/* .fluid-width-video-wrapper {
    width: 100%;
    position: relative;
    padding: 0;
}

.fluid-width-video-wrapper iframe,
.fluid-width-video-wrapper object,
.fluid-width-video-wrapper embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */

.navbar-collapse {
    transition: all 0.3s ease;
}

.navbar-collapse.collapsing {
    height: auto;
}

.navbar-collapse.show {
    display: block;
}



.bullet {
    list-style-type: disc;
}

.logos {
    overflow: hidden;

}

.default-logo {
    transform: scale(6);
    margin-left: 3rem;
}

.alt-logo {
    transform: scale(6);
    margin-left: 2.7rem;
}

.page-layout {
    z-index: 1;
}

.cover-background-1 {
    background-image: url("../images/demo-branding-agency-slider-01.png");
}

.cover-background-2 {
    background-image: url("../images/demo-branding-agency-slider-02.png");
}

.cover-background-3 {
    background-image: url('../images/demo-branding-agency-slider-03.png');
}

.xl-outside-box-right-15 {
    margin-right: -15vw;
}

.fw-600 {
    font-weight: 600 !important;
}

.swipe-slide-edit {
    width: 774px;
    opacity: 1;
    transform: translate3d(-1548px, 0px, 0px);
    transition-duration: 0ms;
}

.background-image-4 {
    background-image: url("../images/demo-branding-agency-home-04.png");
}

.background-image-5 {
    background-image: url("../images/demo-branding-agency-home-05.png");
}

.background-image-6 {
    background-image: url("../images/demo-branding-agency-home-06.png");
}

.background-image-7 {
    background-image: url("../images/demo-branding-agency-home-06.png");
}

.slider-item-1 {
    transition-duration: 0ms;
    transition-delay: 0ms;
}

.slider-item-2 {
    width: 774px;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    transition-duration: 0ms;
}

.slider-item-0 {
    width: 774px;
    opacity: 1;
    transform: translate3d(-774px, 0px, 0px);
    transition-duration: 0ms;
}

.swiper-3 {
    --swiper-progress: 66.67%;
}

h1#banner-ad {
    font-size: 3rem;
    font-weight: 5rem;
}

.stacked {
    height: calc(0px + 100vh);
}

.footer-background {
    background-image: url('../images/demo-branding-agency-pattern.svg')
}

.footer-logo img {
    transform: scale(5);
}

.highlighted {
    background-color: rgba(224, 224, 26, 0.4);
}

footer.pb-1 {
    padding-bottom: 0.1rem;
}
